html,
body {
  @apply w-full h-full;
  background-color: var(--color-bg);
}

main {
  width: 100%;
  padding: var(--base-padding);
  margin: 0 auto;
  overflow-x: hidden;
}

.intro-section {
    width: 100%;
    max-width: var(--page-max-width);
    height: max-content;
    margin: var(--big-margin) 0 calc(var(--content-gap) - var(--big-margin)) 0;
}