/* @font-face {
  font-family: "Example";
  src:
    url("../../fonts/Icona-Sans-Medium-fb24d84c72dfc2a0b8bf11e2a6b97e1c.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "Icona-Sans-Regular";
  src: url("../../fonts/Icona-Sans-Regular-2344db88454a468eff8312841d87066f.woff2") format("woff2"), url("fonts/Icona-Sans-Regular-2344db88454a468eff8312841d87066f.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Icona-Sans-Medium";
  src: url("fonts/Icona-Sans-Medium-fb24d84c72dfc2a0b8bf11e2a6b97e1c.woff2") format("woff2"), url("fonts/Icona-Sans-Medium-fb24d84c72dfc2a0b8bf11e2a6b97e1c.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

